.projects{
    padding: 0rem;
    margin-bottom: 10rem;
}
.project-row{
    display: flex;
    flex-wrap: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}
.project-card{
    border-radius: 30px;
    width: 200px;
}
.projects-title{
    font-size: 1.2rem;
    color: #0d0d0e;
    font-weight: 500;
    margin-bottom: 5rem;
}
.projects-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
}
.project-img{
    border-radius: 1rem;
    width: 80%;
    height: 80%;
}
.pro-button{
    justify-content: center;
    margin-left: 30px;
}
@media (max-width: 600px) {
    .project-card{
        width: 100%;
    }
}