.hero-image{
    background: url(../../images/yellowbackground.svg) no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
/* .hero-text{
    font-size: 1.2rem;
    box-sizing: border-box;
    padding: 0;
    color: 703706;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-right: 0 auto;
    margin-bottom: auto;
    text-align: center;
    line-height: 1.6;
    position: absolute;
} */
 .hero-text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.home-header{
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
}
.home-subtitle{
    color: #703706;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 13rem;
}
.home-role{
    font-size: 1.5rem;
    color:#703706;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
}

.home-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: #703706;
}   
.home-description-card{
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}
.page-button-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.page-button{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 80px 80px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}
.page-button:hover{
    background-color: #db9b63;
}
.page-button:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(218, 101, 12, 0.5);
}