.home-container{
    background-color: #e0dbd8;
}
.hero-card{
     border-radius: 30px;
    max-width: 600px;
    background: white;
}
.hero-image{
    background: url(../../images/greenbackground.svg) no-repeat;
    background-size:cover;
    height: 700px;
    position: relative;
}

 .home-text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
 }
 .home-title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: black;
}
 
.home-subtitle{
    color: #703706;
    text-decoration: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 13rem;
}
.home-role{
    font-size: 1.5rem;
    color:#703706;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
}
  
.home-description-card{
    text-align: center;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.page-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 80px 80px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 15px;
    gap: 15px;
    
}

.page-button:hover{
    background-color: #db9b63;
}
.page-button:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(218, 101, 12, 0.5);
}
