body{
   margin: auto;
   padding: auto;
}
.footer{
    background: #ffeb58;
    color: black;
    text-align: center;
    padding: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: auto;
}
@media (max-width: 768px) {
    .bio-content, .skills-content, .projects-content {
        padding: 1rem;
    }
    .bio-card, .skills-card, .projects-card {
        max-width: 100%;
    }
    .skills-content {
        align-items: center;
    }
} @media (max-width: 480px) {
    .header-h1 {
        font-size: large;
    }
    .header-title {
        font-size: medium;
    }
}
@media (max-width: 480px) {
    .header-h1 {
        font-size: large;
    }
    .header-title {
        font-size: medium;
    }
}