body{
    margin: auto;
    padding: auto;
}

p{
    color: rgb(85, 85, 85)
}
footer{
    position: relative;
    align-items: baseline;
    justify-items: center;
}
@media (max-width: 768px) {
    .bio-content, .skills-content, .projects-content {
        padding: 1rem;
    }
    .bio-card, .skills-card, .projects-card {
        max-width: 100%;
    }
    .skills-content {
        align-items: center;
    }
} @media (max-width: 480px) {
    .header-h1 {
        font-size: large;
    }
    .header-title {
        font-size: medium;
    }
}
@media (max-width: 480px) {
    .header-h1 {
        font-size: large;
    }
    .header-title {
        font-size: medium;
    }
}